<%- include('./templates/header.ejs')  %>
<body>
    <%- include('./templates/navbar.ejs')  %>
        <main id="read_key">
            <h1>Editar producto</h1>
            <div id="add">
                <p>Nombre:</p>
                <input type="text" name="nombre" autofocus value="<%= datos.nombre %>">
                <p>Precio:</p>
                <input type="number" name="precio" value="<%= datos.precio %>">
                <p>Categoria:</p>
                <select name="categoria" id="add_optins">
                    <option selected value="<%= datos.categoria %>"><%= datos.categoria %></option>
                </select>
                <p>Descripcion:</p>
                <textarea name="descripcion" cols="30" rows="10"><%= datos.descripcion%></textarea>
                <p>Cantidad:</p>
                <input type="number" name="stock" value="<%= datos.stock %>">
                <p>URL imagen:</p>
                <input type="url" name="dir" placeholder="Solo google" onchange="imprimir_imagen()" value="<%= datos.imagen %>" >
            </div>
            <button type="button" id="<%= datos.id %>" onclick="check_update(id)">Enviar</button>
        </main>
        <div style="height: 200px; width: 400px;">
            <img id=img_placeholder src="" style="height: 200px; width: 400px;" alt="No found">
        </div>
    <%- include('./templates/footer.ejs') %> 
    <script src="main.js"></script>
    <script src="admin.js"></script>
</body>